langgraph
langgraph-sdk
customtkinter
packaging
langchain
langchain-community
langchain-groq
python-dotenv
langgraph-checkpoint-sqlite
tkwebview2
markdown
faiss-cpu
duckdb
sentence-transformers
numpy
pyautogui
easyocr
pygetwindow